/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
  background-color: #f3f3f3;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.red-panda {
  height: 20rem !important;
  background-image: url("/img/panda.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.red-panda h1 {
  background-color: #fff6;
  padding: 4rem 0 16rem 4rem;
}

main {
  min-height: calc(100vh - 56px); 
  background-color: #fff;
  padding: 10px;
}